<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <add name="AdventureWorks2008R2" connectionString="Data Source=(local);Initial Catalog=AdventureWorks2008R2;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
