CREATE DATABASE [SQLCookbook]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLCookbook', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL2016\MSSQL\DATA\SQLCookbook.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLCookbook_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQL2016\MSSQL\DATA\SQLCookbook_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [SQLCookbook]
GO
USE [SQLCookbook]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SQLCookbook] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO



CREATE TABLE EMP
       (EMPNO int NOT NULL,
        ENAME VARCHAR(10),
        JOB VARCHAR(9),
        MGR int,
        HIREDATE DATETIME,
        SAL int,
        COMM int,
        DEPTNO int)

INSERT INTO EMP VALUES
        (7369, 'SMITH',  'CLERK',     7902,
        '12/17/1980', 800, NULL, 20)
INSERT INTO EMP VALUES
        (7499, 'ALLEN',  'SALESMAN',  7698,
        '2/20/1981', 1600,  300, 30)
INSERT INTO EMP VALUES
        (7521, 'WARD',   'SALESMAN',  7698,
        '2/22/1981', 1250,  500, 30)

CREATE TABLE DEPT
       (DEPTNO integer,
        DNAME VARCHAR(14),
        LOC VARCHAR(13) )

INSERT INTO DEPT VALUES (10, 'ACCOUNTING', 'NEW YORK')
INSERT INTO DEPT VALUES (20, 'RESEARCH',   'DALLAS')
INSERT INTO DEPT VALUES (30, 'SALES',      'CHICAGO')

CREATE TABLE T1 (ID INTEGER)

INSERT INTO T1 VALUES (1)

CREATE TABLE T10 (ID INTEGER)

INSERT INTO T10 VALUES (1)
INSERT INTO T10 VALUES (2)
INSERT INTO T10 VALUES (3)


CREATE TABLE T100 (ID INTEGER)

INSERT INTO T100 VALUES (1)
INSERT INTO T100 VALUES (2)
INSERT INTO T100 VALUES (3)
